
*.resx

*.sln

*.dll

*.exe

kr_MiSPISiT/kr_MiSPISiT/bin/Debug/kr_MiSPISiT.pdb

*.cd

*.resources

kr_MiSPISiT/kr_MiSPISiT/Properties/

*.pdb

*.cache

*.json

kr_MiSPISiT/.vs/kr_MiSPISiT/v17/.suo

kr_MiSPISiT/.editorconfig

*.config

*.csproj

kr_MiSPISiT/kr_MiSPISiT/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs

*.CopyComplete

*.txt

kr_MiSPISiT/kr_MiSPISiT/bin/Debug/MySql.Data.xml
